CameraControlPanel {
	/*
	position: absolute;
	background-color: black;
	right: 50px;
	bottom: 50px;
	font-size: 40px;
	font-weight: bold;
	color: white;
	height: 50px;
	padding: 50px 50px;
	align-items: center;
	*/

	&.enableCursor {
		pointer-events: visible;
		background-color: red;
	}
}

RPGHealth {
	position: absolute;
	background-color: none;
	bottom: 4%;
	left: 2%;
	font-family: SourceSansPro;
	font-style: italic;
	color: white;

	.HPText {
		margin: 8px 8px;
		font-size: 12px;
		font-weight: bold;
		text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
	}

	.HPValue {
		margin: 2px, 18px;
		font-size: 24px;
		text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
	}

	.HPBack {
		margin: 1px 2px;
		height: 14px;
		width: 196px;
		background-color: #323c39;
		position: absolute;
	}

	.HPFore {
		//background-color: #DC2626;
		background-image: linear-gradient(to right, #4B692F, #6ABE30 );
		width: 0%;
		height: 100%;
	}

	.HPBorder {
		height: 16px;
		width: 200px;
		background-color: none;
		border: 2px solid #323c39;
		border-radius: 6px;
		position: absolute;
	}
}



